@{
    ViewData["Title"] = "Welcome";
}



  
        <div class="px">
            
                <div class="content">

                    <h1> Welcome</h1>
                    <p>
                        How Covid-19 compliant is an establishment?
                        Veiw local Reviews, Rankings, and Comments
                    </p>
                    
                    <div class="login">

                        <h3>Create An Account</h3>
                        <p>
                        </p>

                        <form action="#">

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="text" class="form-control" placeholder="Add An Email">
                            </div>

                            <div class="input-group input-group-lg">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Create A Password">
                            </div>

                            <button type="submit" class="fa-lock ">Sign Up</button>
                        </form>
                        <p>

                        </p>
                        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                            <ul class="navbar-nav flex-grow-1">
                                <li class="nav-item">
                                    <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Login">Already have an Account?</a>
                                </li>
                            </ul>
                        </div>

                    </div>


                </div>
        </div>
    