
@model IEnumerable<Place>


    <div class="content">

        <h3> Hello @ViewData["FirstName"]</h3>

  
        @**ViewData["Last"]*@
        <p>What Establishment Would You Like To View?</p>

        <form action="/place/summary">
            <input name="user_ID" type="hidden" value=@ViewData["UserID"] />
            <select name="place_ID">


                @foreach (var p in ViewData["Places"] as IEnumerable<Place>)
                {

                    <option value="@p.place_ID">@p.company</option>

                }

            </select>

            <button type="submit" class="btn btn-secondary btn-sm">View</button>
        </form>

    </div>
