/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}





/* Home page background and text. */

* {
    margin: 0px;
    padding: 0px;
}

html {
    overflow: hidden;
}

.px {
    height: 50vh;
}

.reg {
    background-image: linear-gradient(60deg, #101215 0%, #303235 100%);
    height: 80vh;
    position: relative;
    box-sizing: border-box;
    padding: 25px;
}

.content, .content2 {
    margin: 200px auto auto auto;
    padding 50px;
    width: 50%;
    text-align: center;
}

    .content p {
        font-family: Montserrat, sans-serif;
        font-weight: 700;
        font-size: 25px;
        color: #303235;
    }

.px::before {
    content: "";
    width: 100vw;
    height: 120vh;
    top: 0;
    left: 0;
    background: url(https://images.unsplash.com/photo-1491895200222-0fc4a4c35e18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1867&q=80);
    background-size: cover;
    position: absolute;
    z-index: -1;
    transform: translateZ(-4px) scale(5);
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    perspective: 1px;
    transform-style: preserve-3d;
    box-sizing: border-box;
}

p {
    font-family: sans-serif;
}

.content2 p {
    color: #ffffff;
    font-family: Montserrat, sans-serif;
    font-size: 25px;
    font-weight: 300;
}

/* Log in / Create account tools */

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
}

html {
    background: url(https://dl.dropboxusercontent.com/u/159328383/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    background: transparent;
}

body, input, button {
    font-family: 'Source Sans Pro', sans-serif;
}

.login {
    padding: 15px;
    width: 400px;
    min-height: 400px;
    margin: 2% auto 0 auto;
}

    .login .heading {
        text-align: center;
        margin-top: 1%;
    }

        .login .heading h2 {
            font-size: 3em;
            font-weight: 300;
            color: rgba(255, 255, 255, 0.7);
            display: inline-block;
            padding-bottom: 5px;
            text-shadow: 1px 1px 3px #23203b;
        }

    .login form .input-group {
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
    }

        .login form .input-group:last-of-type {
            border-top: none;
        }

        .login form .input-group span {
            background: transparent;
            min-width: 53px;
            border: none;
        }

            .login form .input-group span i {
                font-size: 1.5em;
                color: rgba(255, 255, 255, 0.2);
            }

    .login form input.form-control {
        display: block;
        width: auto;
        height: auto;
        border: thin;
        outline: none;
        box-shadow: none;
        background: #f8f8ff;
        border-radius: 0px;
        padding: 10px;
        font-size: 1.6em;
        width: 100%;
        background: #a9a9a9;
        color: #f8f8ff;
    }

        .login form input.form-control:focus {
            border: none;
        }

    .login form button {
        margin-top: 20px;
        background: #a9a9a9;
        border: none;
        font-size: 1.6em;
        font-weight: 300;
        padding: 5px 0;
        width: 100%;
        border-radius: 3px;
        color: #f8f8ff;
        border-bottom:none;
    }

        .login form button:hover {
            background: #2f4f4f;
            -webkit-animation: hop 1s;
            animation: hop 1s;
        }

.float {
    display: inline-block;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

    .float:hover, .float:focus, .float:active {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }



/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
    .login {
        width: 600px;
        font-size: 2em;
    }
}

@media only screen and (max-width: 1100px) {
    .login {
        margin-top: 2%;
        width: 600px;
        font-size: 1.7em;
    }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .login {
        margin-top: 1%;
        width: 550px;
        font-size: 1.7em;
        min-height: 0;
    }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
    .login {
        margin-top: 0;
        width: 500px;
        font-size: 1.3em;
        min-height: 0;
    }
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
    .login {
        margin-top: 0;
        width: 400px;
        font-size: 1em;
        min-height: 0;
    }

        .login h2 {
            margin-top: 0;
        }
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
    .login {
        margin-top: 0;
        width: 200px;
        font-size: 0.7em;
        min-height: 0;
    }
}